@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Prosto+One);
@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

* { margin: 0; padding: 0; }
html { -webkit-font-smoothing: antialiased; }

.row {
  margin-right: 0;
  margin-left: 0;
}

.wrapthis {

padding:0;
white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;

}


img-responsive {
width:auto; 
height:auto;
display:block;
}

#firsttop {
margin-left:0;
margin-right:0;
  min-height:210px;
background: #1542bd;
min-width:100%;
height:auto;
}

.welcometop {
  margin:0;
  min-height:210px;
max-height:auto;
background: #1542bd;	
}

body {
background: #1542bd;
}

.navbar-static-top  {
top: auto;
margin-bottom:0px;
}

/* City Lights Logo  */
#cllogo  {
display:inline-block;
padding-top:0px;
margin-top:-8px;
width: 280px;
height:260px;
margin-bottom:7px;

}



/* Style the links once they are Collapsed (.in!)*/
.navbar-collapse.in {
    overflow-y: visible;
}

@media (min-width: 992px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.container-fluid {
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
}


.navbar-collapse > .navbar-nav > li > a {
color:#5b7ad0;
}

.navbar-collapse > .navbar-nav > li > a:hover {
color:yellow;
}

.navbar-collapse.in > ul.navbar-nav > li > a {
color:#2c54c3;
}
.navbar-collapse.in > ul.navbar-nav > li > a:hover {
color:yellow;
}

.navbar-default .navbar-nav > li > a:hover {
  color: yellow;
}

/* White Mid Navbar Li Hover Background Color*/
.navbar-nav > li:hover {
  text-decoration: none;
background: #1542bd;
}

/* White Mid Navbar a.active:hover link color*/
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
 color: #fff;
}

#midnav {
margin-left:200px;
max-height:53px;
float:center;
}


#leftnav {
float:left-bottom;
margin-left:300px;
margin-top:-70px;
width:1000px;
background:none;

}
/* Adspace   */
#adspace {
position:relative;
float:left;
margin-top:-54px;'
margin-left:0px;
background:none;
height:52px;
width:800px;
}


.slickfont1 {
z-index:10;
color: #fff;
font-family: 'Bowlby One SC', cursive;
font-size: 37px;
font-weight:lighter;  
position: absolute;
text-shadow:0 0 0 transparent, -2px 2px 2px  #1542bd;
         
}

/* Angies List Logo Div */

#logospace {
display:inline-block;
position:relative;
float:left;
margin-top:0px;
margin-bottom:10px;
height:50px;
background:none;
}


#phonespace {
text-align:center;
display:inline-block;
float:top;
margin-top:0px;
margin-left:35px;
margin-bottom:14px;
background:none;
height:25px;
min-width:142px;
}

#showspace {
display:inline-block;
float:left;
margin-top:0px;
margin-left:21px;
margin-bottom:0px;
background:none;
height:25px;
min-width:20px;

}

#addressspace {
display:inline-block;
float:left;
margin-top:0px;
margin-left:28px;
margin-bottom:-2px;
background:none;
height:25px;
width:207px;
}

#fourthspace {
display:inline-block;
float:left;
margin-top:0px;
margin-left:21px;
margin-bottom:15px;
background:none;
height:25px;
width:138px;
}

#topline3{
font-family: 'Nobile', sans-serif;
 font-size: 12px;
 font-weight:bold;
 float:left;
margin-top:6px;
line-height:130%;
margin-bottom:0px;
margin-left:35px;
text-align:left;
 display:inline-block;
 color:#fff;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}

#topline {
font-family: 'Nobile', sans-serif;
 font-size: 12px;
 font-weight:bold;
 float:left;
margin-top:6px;
margin-left:35px;
margin-bottom:5px;
text-align:center;
 display:inline-block;
 color:yellow;
line-height:130%;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}

#topline7{
font-family: 'Nobile', sans-serif;
 font-size: 12px;
 font-weight:bold;
 font-size: 12px;
 float:left;
margin-top:6px;
margin-left:35px;
margin-bottom:5px;
line-height:130%;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
 display:inline-block;
 color:#fff;
}

#secondaddress {
display:inline-block;
float:left;
margin-top:0px;
margin-left:0px;
background:black;
height:25px;
width:152px;
}

#topline2{
font-family: 'Prosto One', cursive;
 font-size: 11px;
 font-weight:bold;
 float:top-left;
margin-top:-10px;
margin-left:0px;
 display:inline-block;
text-shadow:0 0 0 transparent, -2px 2px 2px #0c2771;
 color:#fff;
}


#topline4{
font-family: 'Prosto One', cursive;
 font-size: 11px;
 font-weight:bold;
 float:top-left;
margin-top:-10px;
margin-left:0px;
 display:inline-block;
 color:yellow;
}

.headline33 {
font-family: 'Nobile', sans-serif;
 font-size: 23px;
line-height:160%;
 font-weight:800;
text-shadow:0 0 0 transparent, -2px 2px 3px #111;
 float:left;
font-style:normal;
text-align:center;
margin-left:0px;
margin-top:55px;
margin-bottom:5px;
 color:#fefb04;
}


#headline24 {
font-family: 'Nobile', sans-serif;
 font-size: 17px;
 font-weight:800;
font-style:normal;
float:left;
text-align:center;
line-height:170%;
margin-top:28px;
margin-left:0px;
margin-bottom:25px;
 color:#fff;
text-shadow:0 0 0 transparent, -2px 2px 3px #003176;

}
#headline31 {
font-family: 'Nobile', sans-serif;
 font-size: 22px;
 font-weight:800;
font-style:normal;
float:left;
text-align:center;
line-height:170%;
margin-top:55px;
margin-left:14px;
margin-bottom:25px;
 color:#fff;
text-shadow:0 0 0 transparent, -2px 2px 3px #111;

}


#headline27 {
font-family: 'Nobile', sans-serif;
 font-size: 17px;
 font-weight:800;
font-style:normal;
text-align:center;
line-height:170%;
margin-top:0px;
margin-bottom:25px;
 color:#fff;
text-shadow:0 0 0 transparent, -2px 2px 3px #003176;

}
#headline30 {
font-family: 'Nobile', sans-serif;
 font-size: 17px;
 font-weight:800;
font-style:normal;
text-align:center;
line-height:180%;
margin-top:0px;
margin-bottom:30px;
 color:#fff;
text-shadow:none;

}



#headline28 {
font-family: 'Nobile', sans-serif;
 font-size: 17px;
 font-weight:800;
font-style:normal;
text-align:center;
line-height:140%;
margin-top:0px;
margin-bottom:25px;
 color:#fff;
text-shadow:0 0 0 transparent, -2px 2px 3px #003176;

}



#headline25 {
font-family: 'Nobile', sans-serif;
 font-size: 20px;
 font-weight:800;
margin-left:0px;
font-style:normal;
text-align:center;
line-height:160%;
margin-top:2px;
margin-bottom:25px;
 color:#fff;
text-shadow:0 0 0 transparent, -2px 2px 3px #003176;
}


#headline44 {
font-family: font-family: Tahoma, Geneva, sans-serif;
margin-left:52px;
margin-top:0px;
font-size: 14px;
font-weight:bold;
float:left;
display:inline;
color:#fff;
text-shadow: none;
}

#right {
float:right;
margin-bottom:5px;
width:145px;
height:50px;
}

#alogo3  {
position:relative;
float:left;
margin-top:0px;
margin-left:0px;
width: 55px;
height:55px;
padding-bottom:0px;
clear:none;
}

#alogo4  {
position:relative;
float:left;
margin-top:2px;
margin-left:15px;
width: 50px;
height:55px;
padding-bottom:0px;
clear:none;
}

#angy {
position:relative;
width:55px;
height:55px;
margin-top:2px;
margin-left:15px;
float:left;
clear:none;

}


/* Right call now header */

#phoneid {
font-size:15px;
float:left;
font-family: 'Open Sans', sans-serif;
color:#6195b8;
margin-left:80px;
margin-top:-7px;
}


#reviewimg {
margin-top:15px;
margin-left:150px;
margin-bottom:15px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

/*! Put margin top -10px to three images group */
#wide-display  {
 margin:0;
padding:0;
background:#fff;
height:auto;
}


/*! First img Holder */

#firstholder, #firstholder:hover {
display:inline-block;
float:left;
margin:0;
padding:0;
height:auto;
position:relative;
}


#secondholder, 
#secondholder:hover {
float:left;
display:inline-block;
margin:0;
height:auto;
padding:0;
position:relative;

}

#thirdholder, #thirdholder:hover {
float:left;
margin:0;
padding:0;
display:inline-block;
height:auto;
position:relative;

}


.item1 {
width: 20%;
height: 20%;
z-index:100;
position: absolute;
left: 33%;
top: 38%;
}

.item2 {
width: 300px;
margin-left:auto;
margin-right:auto;
z-index:10;
}

.homeitem {
width: 100%;
margin-top:  100px;
float:left;
}

.homeitem2 {
width: 100%;
margin-top:  150px;
position:relative;
}

.photoheading {
z-index:100;
color:#fff;
position:absolute;
float:left;
font-family: 'Prosto One', cursive;
font-size: 28px;
font-weight:600;
 text-shadow:0 0 0 transparent, 2px 2px 1px #00204d;
           
}
 
#secondholder {
float:left;
display:inline-block;
}

#thirdholder {
float:left;
display:inline-block;
}

#leftangie {
margin-left:-100px;
margin-top:2px;
float:right;
}


.slickfont2 {
z-index:10;
color:#fff;
position:absolute;
margin-left:auto;
margin-right:auto;
font-family: 'Prosto One', cursive;
text-align:center;
font-family: 'Nobile', sans-serif;
font-size:29px;
font-weight:600;
text-shadow:0 0 0 transparent, -2px 2px 3px #003176;
top:38px;          
}

.slickfont {
font-family: 'Open Sans', sans-serif;
font-size: 38px;
font-weight:300;
z-index:100;
color:#fff;
position: absolute;
}

/*! Hover img links transparancy change to bright light */

a.imglink, a.imglink:hover{
  background:         #fff;
  display:            inline-block;
width:100%;
height:auto;
position:relative;
margin:0;
padding:0;
}

a.imglink img {
  transition:         opacity 0.8s;
  -webkit-transition: opacity 0.8s;
}

a.imglink:hover img{
  ofilter: alpha(opacity=60);
    opacity: .6;
}

#electricone  {
height:auto;
width:auto;
background-size:cover;
margin-top:3px;
}


 #electrictwo,  #thirdelectric {
height:auto;
width:auto;
background-size:cover;
margin-top:1px;
}

#electricoffice, #electrichome, #electricoffice2, #home3  {
max-height:300px;
margin-bottom:15px;
}


.navbar-nav > li > a {
padding-left:42px;
padding-right:42px;
font-weight:500;
text-shadow:none;
font-family: 'Prosto One', cursive;
font-size:17px;
text-decoration: none; 
}

.navbar-default .navbar-nav > .active > a {
  color: #777; 
}

.firstheader {
text-align:center;
color:#fefb04;
font-weight:800;
font-family: 'Nobile', sans-serif;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
font-size:25px;
margin-top:35px;
line-height:140%;
margin-bottom:20px;
}

.panel-title {
font-weight:bold;
}

#officepic, #homepic {
margin-top:55px;

}

.officeheader {
text-align:center;
color:#fff;
font-weight:bold;
line-height:200%;
font-weight:800;
font-family: 'Nobile', sans-serif;
font-size:27px;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}



.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
height:3px;
}

.navbar-default .navbar-toggle:hover {
  background:none;

}

.navbar-toggle  {
border:none;
}

.officeheading {
text-align:left;
color:#fff;
margin-bottom:35px;
font-weight:800;
font-family: 'Nobile', sans-serif;
font-size:24px;
line-height:140%;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}

.officeex {
text-align:left;
color:#fff;
margin-top:44px;
margin-bottom:35px;
font-weight:600;
font-family: 'Oleo Script', 'cursive';
font-size:28px;
line-height:140%;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}


a.reviewlink {text-decoration:none; color:#fefb04; font-weight:bold;}

a.reviewlink:hover {text-decoration:none; color:#1542bd; font-weight:bold;}

.offermain {
margin-top:10px;
margin-bottom:50px;
margin-left:2px;
text-align:left;
color:yellow;
font-weight:bold;
text-align:left;
font-weight:800;
line-height:140%;
font-family: 'Nobile', sans-serif;
font-size:24px;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}

#header_container {
height:100px; position:fixed; width:1000px; top:0; margin: auto; display: block;
}

.introsummary {
text-indent:25px;
font-family: 'Nobile', sans-serif;
 font-size: 18px;
 font-weight:400; 
color:#fff;
line-height:162%;
text-align:center;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}
.introsummary2 {
font-family: 'Nobile', sans-serif;
 font-size: 18px;
 font-weight:400;
color:#fff;
line-height:162%;
text-align:center;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}
.introsummary3 {
font-family: 'Nobile', sans-serif;
 font-size: 14px;
 font-weight:400;
color:#fff;
line-height:180%;
text-shadow:0 0 0 transparent, -2px 2px 3px #000;
}


/*! Bottom Marketing Content */
#bottommarketing, #bottomreviews {
min-width:100%;
margin:  0;
background: #1542bd;

}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #1542bd;
}


#bottomoffice, #bottomhome  {
width:100%;
margin-top:11px;
background: #1542bd;	
}

#reviewbottom {
width:100%;
margin-top:1px;
background: #1542bd;


}
#officespace{
margin-top:35px;
height:auto;
width:100%;
}


#officetop {
margin-top:5px;
margin-bottom:0px;
}
#sideoffice, #sidehome {

margin-top:18px;
}
.officesummary {
text-align:justify;
margin-top:16px;
text-indent:50px;
font-family: 'Open Sans', sans-serif;
color:#fff;
font-size:14px;
}

#officeshow {
margin-top:16px;
height:auto;
}
#pic3 {
margin-bottom:30px;
}
.sidefont {
font-family: 'Open Sans', sans-serif;
font-size: 38px;
font-weight:300;
text-shadow:0 0 0 transparent, 1px 1px 0px rgba(255, 255, 255, 0.4);
}

#footer {
height:70px;

}

.footer1 {
margin-top:18px;
margin-bottom:10px;
float:center;
font-size:12px;
font-weight:400;
color:#fff;
font-family: 'Open Sans', sans-serif;
}

.thankpic {
max-width:400px;
margin:0 auto;
margin-top:19px;
}

/* Adjust the custom breakpoint for tablets */

@media (max-width: 998px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: none;
        box-shadow: none);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
}

/*Custom Font sizes for Breakpoint sm (tablets) */

@media screen and (max-width: 991px) {
  .headline33 {margin-top:70px; margin-left:35px;text-align:center; margin-bottom:0px;font-size:20px; color:yellow; line-height:175%;}
#headline30 {margin-top:-10px; margin-left:55px;font-size:15px; color:#ffffff; text-align:left;}
#topline3 {color:#BEBEBE;}
/* White Mid Navbar */
.navbar-default  {background:#fff;border: none; top:auto;}
.navbar-default .navbar-toggle .icon-bar { background-color: #000; height:3px;}
.item1 { z-index:100; position: absolute; left: 28%; top: 36%;}
#headline24 {margin-left:66px; margin-top:15px;}
#headline27 {margin-left:44px;}
#headline31 {margin-left:133px;margin-top:25px;font-size:18px;}
.introsummary { font-size:16px;}
.slickfont1 {font-size:33px;}

}

/*Custom Font sizes for Breakpoint xs (phones) */

@media screen and (max-width: 700px) {

   #topline { margin-top:11px; font-weight:bold;}
   #topline3 { color:#BEBEBE;font-weight:bold;}
   #topline7 {color:white; font-weight:bold;}
   .firstheader {font-size:22px;}
  .headline33 {margin-top:30px; margin-left:0px;padding-left:5px; padding-right:5px;text-align:center; margin-bottom:30px;color:yellow; line-height:170%;}
  #headline30 {margin-top:10px;font-size:12px; color:yellow; text-align:left;}
  #logospace { margin-top:40px; margin-bottom:18px;}
.introsummary { text-align:left;}
  .introsummary3 {font-size:14px; margin-left:-3px; text-align:left;}
.item1 { z-index:100; position: absolute; left: 35%; top: 36%;}
#headline27, #headline24 {margin-left:0px;}
/* White Mid Navbar */
.navbar-default  {background:#fff;border: none; top:auto;}
.navbar-default .navbar-toggle .icon-bar { background-color: #000; height:3px;}
#headline31 {margin-left:0px;margin-top:25px; font-size:19px;}

}

/* Centering the Nav links per media query */

@media (min-width: 992px) {
  
.navbar .navbar-nav {
        display: inline-block;
        float: none;
        height:45px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
.navbar-default  {background:#fff;border: none; top:auto;}
.headline33 {margin-top:70px; margin-left:77px;text-align:center; margin-bottom:0px;font-size:22px; color:#fefb04; line-height:175%;}
#headline27 {margin-left:123px;}
#headline24 {margin-left:50px;}
#headline30 {margin-left:175px;}
#headline31 {margin-left:17px;margin-top:73px; font-size:19px;}

}


